BDGradleHibernateSpring/app-client-soap/src/main/resources/schemas/bankDepositService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bank.brest.com/soap"
           targetNamespace="http://bank.brest.com/soap" elementFormDefault="qualified">

    <xsd:include schemaLocation="bankDepositor.xsd"/>

    <xsd:include schemaLocation="bankDeposit.xsd"/>

    <xsd:element name="getBankDepositsRequest"/>
    <xsd:element name="getBankDepositsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositId" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposit" type="tns:bankDeposit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositName">
                    <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                            <xsd:pattern value='[A-Z][a-z]+[0-9]*' />
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposit" type="tns:bankDeposit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositCurrency">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z]{3}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByInterestRateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositInterestRate">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="100"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByInterestRateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToMinTermRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="fromTerm" nillable="true">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="480"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="toTerm" nillable="true">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="480"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToMinTermResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToInterestRateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startRate" nillable="true">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="100"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="endRate" nillable="true">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="100"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToInterestRateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateDepositRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startDate" nillable="true" type="xsd:date"/>
                <xsd:element name="endDate" nillable="true" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateDepositResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateReturnDepositRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startDate" nillable="true" type="xsd:date"/>
                <xsd:element name="endDate" nillable="true" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateReturnDepositResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositName">
                    <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                            <xsd:pattern value='[A-Z][a-z]+[0-9]*' />
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositReport" type="tns:bankDepositReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameFromToDateDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositName">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z][a-z]+[0-9]*"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameFromToDateDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositReport" type="tns:bankDepositReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameFromToDateReturnDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositName">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z][a-z]+[0-9]*"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameFromToDateReturnDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositReport" type="tns:bankDepositReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositId" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositReport" type="tns:bankDepositReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdFromToDateDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositId" type="xsd:long"/>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdFromToDateDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositReport" type="tns:bankDepositReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdFromToDateReturnDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositId" type="xsd:long"/>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdFromToDateReturnDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositReport" type="tns:bankDepositReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsWithDepositorsRequest"/>
    <xsd:element name="getBankDepositsWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositsReport" type="tns:bankDepositsReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositsReport" type="tns:bankDepositsReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateReturnDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateReturnDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositsReport" type="tns:bankDepositsReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositCurrency">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z]{3}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositsReport" type="tns:bankDepositsReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyFromToDateDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositCurrency">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z]{3}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyFromToDateDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositsReport" type="tns:bankDepositsReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyFromToDateReturnDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositCurrency">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z]{3}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyFromToDateReturnDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositsReport" type="tns:bankDepositsReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="addBankDepositRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposit" type="tns:bankDeposit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="addBankDepositResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposit" type="tns:bankDeposit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateBankDepositRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposit" type="tns:bankDeposit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateBankDepositResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposit" type="tns:bankDeposit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteBankDepositRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositId" nillable="true" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteBankDepositResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositorsRequest"/>
    <xsd:element name="getBankDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositors" type="tns:bankDepositors"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositorsFromToDateDepositRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositorsFromToDateDepositResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositors" type="tns:bankDepositors"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositorsFromToDateReturnDepositRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositorsFromToDateReturnDepositResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositors" type="tns:bankDepositors"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositorByIdRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositorId" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositorByIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositor" type="tns:bankDepositor"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositorByIdDepositRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositId" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositorByIdDepositResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositors" type="tns:bankDepositors"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositorByNameRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositorName">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z][a-z]+[0-9]*"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositorByNameResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositor" type="tns:bankDepositor"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="addBankDepositorRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositId" type="xsd:long"/>
                <xsd:element name="bankDepositor" type="tns:bankDepositor"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="addBankDepositorResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositor" type="tns:bankDepositor"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateBankDepositorRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositor" type="tns:bankDepositor"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateBankDepositorResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositor" type="tns:bankDepositor"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteBankDepositorRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositorId" nillable="true" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteBankDepositorResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
