BankDepositHibernate/app-client-soap/src/main/resources/depositsWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SoapService"
             targetNamespace="http://client.bank.brest.com/Soap/"
             xmlns:tns="http://client.bank.brest.com/Soap/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsoap= "http://www.w3.org/ns/wsdl/soap"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:complexType name="bankDepositor_type">
                <xsd:sequence>
                    <xsd:element name="depositorId" type="xsd:long"/>
                    <xsd:element name="depositorName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="[A-Z][a-z]+[0-9]*"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="depositorDateDeposit" type="xsd:date"/>
                    <xsd:element name="depositorAmountDeposit">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:positiveInteger">
                                <xsd:minInclusive value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="depositorAmountPlusDeposit">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:positiveInteger">
                                <xsd:minInclusive value="0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="depositorAmountMinusDeposit">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:positiveInteger">
                                <xsd:minInclusive value="0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="depositorDateReturnDeposit" type="xsd:date"/>
                    <xsd:element name="depositorMarkReturnDeposit">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                                <xsd:pattern value="[0,1]"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>


            <xsd:complexType name="bankDepositors_type">
                <xsd:sequence>
                    <xsd:element name="bankDepositor" type="bankDepositor_type" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="bankDeposit_type">
                <xsd:sequence>
                    <xsd:element name="depositId" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="depositName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="[A-Z][a-z]+[0-9]*"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="depositMinTerm" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:positiveInteger">
                                <xsd:minExclusive value="1"/>
                                <xsd:maxInclusive value="480"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="depositMinAmount">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:positiveInteger">
                                <xsd:minInclusive value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="depositCurrency">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="[A-Z]{3}"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="depositInterestRate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:positiveInteger">
                                <xsd:minInclusive value="1"/>
                                <xsd:maxInclusive value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="depositAddConditions" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="bankDepositors" type="bankDepositors_type" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="bankDeposits_type">
                <xsd:sequence>
                    <xsd:element name="bankDeposit" type="bankDeposit_type" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name='getDepositsRequest'/>

            <xsd:element name='getDepositsResponse'>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bankDeposits" type="bankDeposits_type" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name='getDepositByIdRequest'>
                <xsd:complexType>
                    <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='depositId' type='xsd:long' maxOccurs='unbounded' />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name='getDepositByIdResponse'>
                <xsd:complexType>
                    <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='bankDeposit' type='bankDeposit_type'/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name='getDepositByNameRequest'>
                <xsd:complexType>
                    <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='depositName' type='xsd:string' maxOccurs='unbounded' />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name='getDepositByNameResponse'>
                <xsd:complexType>
                    <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='bankDeposit' type='bankDeposit_type' />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name='addDepositRequest'>
                <xsd:complexType>
                    <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='bankDeposit' type='bankDeposit_type' maxOccurs='unbounded' />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name='addDepositResponse'>
                <xsd:complexType>
                    <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='bankDeposit' type='bankDeposit_type' maxOccurs='unbounded' />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name='updateDepositRequest'>
                <xsd:complexType>
                    <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='bankDeposit' type='bankDeposit_type' maxOccurs='unbounded' />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name='updateDepositResponse'>
                <xsd:complexType>
                    <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='bankDeposit' type='bankDeposit_type' maxOccurs='unbounded' />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name='deleteDepositRequest'>
                <xsd:complexType>
                    <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='depositId' type='xsd:long' maxOccurs='unbounded' />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name='deleteDepositResponse'>
                <xsd:complexType>
                    <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='result' type='xsd:string' />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getDepositsRequestMessage">
        <wsdl:part name="part" element="tns:getDepositsRequest"/>
    </wsdl:message>

    <wsdl:message name="getDepositsResponseMessage">
        <wsdl:part name="part" element="tns:getDepositsResponse"/>
    </wsdl:message>

    <wsdl:message name="getDepositByIdRequestMessage">
        <wsdl:documentation>Request for getBankDepositById</wsdl:documentation>
        <wsdl:part name="part" element="tns:getDepositByIdRequest"/>
    </wsdl:message>
    
    <wsdl:message name="getDepositByIdResponseMessage">
        <wsdl:documentation>Response for getBankDepositById</wsdl:documentation>
        <wsdl:part name="part" element="tns:getDepositByIdResponse"/>
    </wsdl:message>

    <wsdl:message name="getDepositByNameRequestMessage">
        <wsdl:part name="part" element="tns:getDepositByNameRequest"/>
    </wsdl:message>

    <wsdl:message name="getDepositByNameResponseMessage">
        <wsdl:part name="part" element="tns:getDepositByNameResponse"/>
    </wsdl:message>

    <wsdl:message name="addDepositRequestMessage">
        <wsdl:part name="part" element="tns:addDepositRequest"/>
    </wsdl:message>
    <wsdl:message name="addDepositResponseMessage">
        <wsdl:part name="part" element="tns:addDepositResponse"/>
    </wsdl:message>
    <wsdl:message name="addDuplicateFault">
        <wsdl:part name="fault" element="tns:addDuplicate"/>
    </wsdl:message>

    <wsdl:message name="updateDepositRequestMessage">
        <wsdl:part name="part" element="tns:updateDepositRequest"/>
    </wsdl:message>

    <wsdl:message name="updateDepositResponseMessage">
        <wsdl:part name="part" element="tns:updateDepositResponse"/>
    </wsdl:message>

    <wsdl:message name="deleteDepositRequestMessage">
        <wsdl:part name="part" element="tns:deleteDepositRequest"/>
    </wsdl:message>

    <wsdl:message name="deleteDepositResponseMessage">
        <wsdl:part name="part" element="deleteDepositResponse"/>
    </wsdl:message>

    <wsdl:portType name="DepositServicePortType">
        <wsdl:documentation>
            Во многих отношениях wsdl:portType можно считать логическим эквивалентом интерфейса Java,
            так что элементы wsdl:operation эквивалентны методам, элементы wsdl:input - параметрам методов,
            элементы wsdl:output - результатам методов, а элементы wsdl:fault - проверяемым исключениям.
            Эти соответствия используются при генерировании кода Java из WSDL, как и в большинстве инструментов,
            создающих WSDL из существующего кода Java.
        </wsdl:documentation>
        <wsdl:operation name="getDeposits">
            <wsdl:input message="tns:getDepositsRequestMessage"/>
            <wsdl:output message="tns:getDepositsResponseMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="getDepositById">
            <wsdl:input message="tns:getDepositByIdRequestMessage"/>
            <wsdl:output message="tns:getDepositByIdResponseMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="getDepositByName">
            <wsdl:input message="tns:getDepositByNameRequestMessage"/>
            <wsdl:output message="tns:getDepositByNameResponseMessage"/>
        </wsdl:operation>

        <wsdl:operation name="addDeposit">
            <wsdl:input message="tns:addDepositRequestMessage"/>
            <wsdl:output message="tns:addDepositResponseMessage"/>
            <wsdl:fault name="addDuplicateFault" message="addDuplicateFault"/>
        </wsdl:operation>

        <wsdl:operation name="updateDeposit">
            <wsdl:input message="tns:updateDepositRequestMessage"/>
            <wsdl:output message="tns:updateResponseMessage"/>
        </wsdl:operation>

        <wsdl:operation name="deleteDeposit">
            <wsdl:input message="tns:deleteDepositRequestMessage"/>
            <wsdl:output message="tns:deleteDepositResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="DepositServiceBinding" type="tns:DepositServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDeposits">
            <soap:operation soapAction="urn:getDeposits"/>
            <wsdl:input>
                <soap:body/>
            </wsdl:input>
            <wsdl:output>
                <soap:body/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getDepositById">
            <soap:operation soapAction="urn:getDepositById"/>
            <wsdl:input>
                <soap:body/>
            </wsdl:input>
            <wsdl:output>
                <soap:body/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getDepositByName">
            <soap:operation soapAction="urn:getDepositByName"/>
            <wsdl:input>
                <soap:body/>
            </wsdl:input>
            <wsdl:output>
                <soap:body/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="addDeposit">
            <soap:operation soapAction="urn:addDeposit"/>
            <wsdl:input>
                <soap:body/>
            </wsdl:input>
            <wsdl:output>
                <soap:body/>
            </wsdl:output>
            <wsdl:fault name="addDuplicateFault">
                <soap:fault name="addDuplicateFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="updateDeposit">
            <soap:operation soapAction="urn:updateDeposit"/>
            <wsdl:input>
                <soap:body/>
            </wsdl:input>
            <wsdl:output>
                <soap:body/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="deleteDeposit">
            <soap:operation soapAction="urn:deleteDeposit"/>
            <wsdl:input>
                <soap:body/>
            </wsdl:input>
            <wsdl:output>
                <soap:body/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="DepositService">
        <wsdl:port name="DepositServicePort" binding="tns:DepositServiceBinding">
            <soap:address location="http://localhost:8080/BankDeposit/Soap/"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>