BDGradleHibernateSpring/app-web/src/main/webapp/schemas/bankDeposit.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bank.brest.com/soap"
           targetNamespace="http://bank.brest.com/soap" elementFormDefault="qualified">
    <xsd:complexType name="bankDeposit">
        <xsd:sequence>
            <xsd:element name="depositId" nillable="true" type="xsd:long"/>
            <xsd:element name='depositName'>
                <xsd:simpleType>
                    <xsd:restriction base='xsd:string'>
                        <xsd:pattern value='[A-Z][a-z]+[0-9]*' />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name='depositMinTerm'>
                <xsd:simpleType>
                    <xsd:restriction base='xsd:int'>
                        <xsd:minInclusive value='1' />
                        <xsd:maxInclusive value='480' />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name='depositMinAmount'>
                <xsd:simpleType>
                    <xsd:restriction base='xsd:int'>
                        <xsd:minInclusive value='100' />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name='depositCurrency'>
                <xsd:simpleType>
                    <xsd:restriction base='xsd:string'>
                        <xsd:pattern value='[A-Z]{3}' />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name='depositInterestRate'>
                <xsd:simpleType>
                    <xsd:restriction base='xsd:int'>
                        <xsd:minInclusive value='1' />
                        <xsd:maxInclusive value='100' />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name='depositAddConditions'>
                <xsd:simpleType>
                    <xsd:restriction base='xsd:string'>
                        <xsd:pattern value='[A-Z][a-z]+[0-9]*' />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="bankDepositReport">
        <xsd:sequence>
            <xsd:element name="depositId" nillable="true" type="xsd:long"/>
            <xsd:element name='depositName'>
                <xsd:simpleType>
                    <xsd:restriction base='xsd:string'>
                        <xsd:pattern value='[A-Z][a-z]+[0-9]*' />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name='depositMinTerm'>
                <xsd:simpleType>
                    <xsd:restriction base='xsd:int'>
                        <xsd:minInclusive value='1' />
                        <xsd:maxInclusive value='480' />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name='depositMinAmount'>
                <xsd:simpleType>
                    <xsd:restriction base='xsd:int'>
                        <xsd:minInclusive value='100' />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name='depositCurrency'>
                <xsd:simpleType>
                    <xsd:restriction base='xsd:string'>
                        <xsd:pattern value='[A-Z]{3}' />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name='depositInterestRate'>
                <xsd:simpleType>
                    <xsd:restriction base='xsd:int'>
                        <xsd:minInclusive value='1' />
                        <xsd:maxInclusive value='100' />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name='depositAddConditions'>
                <xsd:simpleType>
                    <xsd:restriction base='xsd:string'>
                        <xsd:pattern value='[A-Z][a-z]+[0-9]*' />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="depositorCount" type="xsd:int"/>
            <xsd:element name="depositorAmountSum" type="xsd:int"/>
            <xsd:element name="depositorAmountPlusSum" type="xsd:int"/>
            <xsd:element name="depositorAmountMinusSum" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="bankDeposits">
        <xsd:sequence>
            <xsd:element name="bankDeposit" type="tns:bankDeposit" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="bankDepositsReport">
        <xsd:sequence>
            <xsd:element name="bankDepositReport" type="tns:bankDepositReport" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getBankDepositsRequest"/>
    <xsd:element name="getBankDepositsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositId" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposit" type="tns:bankDeposit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositName">
                    <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                            <xsd:pattern value='[A-Z][a-z]+[0-9]*' />
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposit" type="tns:bankDeposit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositCurrency">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z]{3}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByInterestRateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositInterestRate">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="100"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByInterestRateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToMinTermRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="fromTerm" nillable="true">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="480"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="toTerm" nillable="true">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="480"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToMinTermResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToInterestRateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startRate" nillable="true">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="100"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="endRate" nillable="true">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="100"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToInterestRateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateDepositRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startDate" nillable="true" type="xsd:date"/>
                <xsd:element name="endDate" nillable="true" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateDepositResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateReturnDepositRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startDate" nillable="true" type="xsd:date"/>
                <xsd:element name="endDate" nillable="true" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateReturnDepositResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposits" type="tns:bankDeposits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositName">
                    <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                            <xsd:pattern value='[A-Z][a-z]+[0-9]*' />
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositReport" type="tns:bankDepositReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameFromToDateDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositName">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z][a-z]+[0-9]*"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameFromToDateDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositReport" type="tns:bankDepositReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameFromToDateReturnDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositName">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z][a-z]+[0-9]*"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByNameFromToDateReturnDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositReport" type="tns:bankDepositReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositId" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositReport" type="tns:bankDepositReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdFromToDateDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositId" type="xsd:long"/>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdFromToDateDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositReport" type="tns:bankDepositReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdFromToDateReturnDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositId" type="xsd:long"/>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositByIdFromToDateReturnDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositReport" type="tns:bankDepositReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsWithDepositorsRequest"/>
    <xsd:element name="getBankDepositsWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositsReport" type="tns:bankDepositsReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositsReport" type="tns:bankDepositsReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateReturnDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsFromToDateReturnDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositsReport" type="tns:bankDepositsReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositCurrency">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z]{3}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositsReport" type="tns:bankDepositsReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyFromToDateDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositCurrency">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z]{3}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyFromToDateDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositsReport" type="tns:bankDepositsReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyFromToDateReturnDepositWithDepositorsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositCurrency">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z]{3}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="startDate" type="xsd:date"/>
                <xsd:element name="endDate" type="xsd:date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getBankDepositsByCurrencyFromToDateReturnDepositWithDepositorsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDepositsReport" type="tns:bankDepositsReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="addBankDepositRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposit" type="tns:bankDeposit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="addBankDepositResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposit" type="tns:bankDeposit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateBankDepositRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposit" type="tns:bankDeposit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateBankDepositResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bankDeposit" type="tns:bankDeposit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteBankDepositRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="depositId" nillable="true" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteBankDepositResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
